doctype html
head
  link(rel='stylesheet' href='https://unpkg.com/aos@next/dist/aos.css')
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Hostel Chat Bot
  script(src='https://kit.fontawesome.com/b3a329cc2d.js' crossorigin='anonymous')
  link(rel='stylesheet' href='./static/CSS/styles.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Merienda:wght@600&family=Moon+Dance&family=Nunito:wght@600&family=Patrick+Hand&family=Roboto+Slab:wght@300&family=Solitreo&display=swap' rel='stylesheet')
  link(rel='apple-touch-icon' sizes='180x180' href='./static/images/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='./static/images/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='./static/images/favicon-16x16.png')
section#navbar.navigation
  img.brand.hvr-bounce-in(src='./static/images/chatbot.png' alt='logo')
  .nav-container
    nav
      .nav-mobile
        a#navbar-toggle(href='#!')
          span
      ul.nav-list
        li
          a.hvr-bounce-in(href='/')
            img.home(src='./static/images/home.png' alt='home')
            |  Home
        li
          a.hvr-bounce-in(href='./about')
            img.info(src='./static/images/information.png' 
            
            
            
            
            alt='information')
            |                 About
        li
          a.hvr-bounce-in(href='mailto:vikaskohli18impossible@gmail.com?subject=Regarding Feedback')
            img.mail(src='./static/images/mail.png' alt='mail')
            | Feedback
        li
          button.button(id="signinbtn" role='button') Sign In
h1.about-us(style='text-align: center') About Us
.varun(data-aos='fade-in')
  img(src='./static/images/varun.jpeg' alt='varun image')
  h2 Varun Reddy
  h3(style='text-align: center') Has Made The App For This Website
  p
    | Varun Reddy is a skilled software developer with expertise in a variety
    | of programming languages and technologies. He is proficient in C++,
    | Dart, and Flutter, and has a strong understanding of object-oriented
    | programming principles. Additionally, he has experience with data
    | structures and algorithms, as well as with Firebase, MySQL, and RESTful
    | APIs. Overall, Varun is a valuable asset to any development team due to
    | his diverse set of skills and experience.
.arvind(data-aos='fade-in')
  img(src='./static/images/arvind.jpeg' alt='arvind image')
  h2 Arvind Kumar
  h3 Has Made The Backend Of This Website
  p
    | Arvind is a highly skilled software developer with experience in a
    | variety of programming languages and technologies. He is well-versed in
    | C++ and has a strong understanding of data structures and algorithms.
    | Additionally, he has experience with HTML, CSS, and backend development.
    | He is currently working as an intern in a Visa company which shows his
    | exposure and interest in the field. Arvind is a versatile developer who
    | can tackle both front-end and back-end tasks, making him a valuable
    | asset to any development team.
.vikas(data-aos='fade-in')
  img(src='./static/images/vikas.jpeg' alt='vikas image')
  h2 Vikas Kumar
  h3 Has Made Front-End Of This Webiste
  p
    | Vikas is a skilled developer with experience in HTML, CSS,
    | JavaScript,REST APIS and Java Data Structures and Algorithm. He also possess soft skills like writing
    | poems and communication skills. These skills make him a unique candidate
    | who can understand the user requirements and can express it in a better
    | way. He has a keen interest in web development and his proficiency in
    | java programming languages and strong communication skills make him a
    | valuable asset to any development team.
// footer
footer
  a(href='https://github.com/Vikas-18/Hostel_Chat_Bot')
    img.gitlogo(src='./static/images/github.png' alt='github logo')
  h5 Designed and Developed by The Innovation Ninjas
script(src='main.js')
script(src='https://unpkg.com/aos@next/dist/aos.js')
script.
  AOS.init({
  duration: 1000,
  });
