<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hostel Chat Bot</title>
    <script src="https://kit.fontawesome.com/b3a329cc2d.js" crossorigin="anonymous" ></script>
    <link rel="stylesheet" href="../static/CSS/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@600&family=Moon+Dance&family=Nunito:wght@600&family=Patrick+Hand&family=Roboto+Slab:wght@300&family=Solitreo&display=swap" rel="stylesheet"/>
    <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png"/>
  </head>

  <body>
    <section class="navigation">
      <div class="nav-container">
        <div class="brand">
          <img src="../static/images/chatbot.png" alt="logo" />
        </div>
        <nav>
          <div class="nav-mobile">
            <a id="navbar-toggle" href="#!"><span></span></a>
          </div>
          <ul class="nav-list">
            <li>
              <a href="/">
                <img class="home" src="../static/images/home.png" alt="home" /> Home</a>
            </li>
            <li>
              <a href="./about">
                <img class="info" src="../static/images/information.png" alt="information"/> About</a>
            </li>
            <li>
              <a href="mailto:vikaskohli18impossible@gmail.com?subject=Regarding Feedback">
                <img class="mail" src="../static/images/mail.png" alt="mail" />Feedback</a>
            </li>
            <li>
               <button class="btn"><a href="/signin">Sign In</a></button>
            </li>
          </ul>
        </nav>
      </div>
    </section>
    <h1 class="about-us" style="text-align: center">About Us</h1>
    <div class="varun">
      <img src="../static/images/varun.jpeg" alt="varun image">
      <h2>Varun Reddy</h2>
      <h3 style="text-align: center">Has Made The App For This Website</h3>
      <p>
       | Varun Reddy is a skilled software developer with expertise in a variety
       | of programming languages and technologies. He is proficient in C++,
       | Dart, and Flutter, and has a strong understanding of object-oriented
       | programming principles. Additionally, he has experience with data
       | structures and algorithms, as well as with Firebase, MySQL, and RESTful
       | APIs. Overall, Varun is a valuable asset to any development team due to
       | his diverse set of skills and experience.
      </p>
    </div>
  
    <div class="arvind">
      <img src="../static/images/arvind.jpeg" alt="arvind image">
      <h2>Arvind Kumar</h2>
      <h3>Has Made The Backend Of This Website</h3>
      <p>
      |  Arvind is a highly skilled software developer with experience in a
      |  variety of programming languages and technologies. He is well-versed in
      |  C++ and has a strong understanding of data structures and algorithms.
      |  Additionally, he has experience with HTML, CSS, and backend development.
      |  He is currently working as an intern in a Visa company which shows his
      |  exposure and interest in the field. Arvind is a versatile developer who
      |  can tackle both front-end and back-end tasks, making him a valuable
      |  asset to any development team.
      </p>
    </div>

    <div class="vikas">
      <img src="../static/images/vikas.jpeg" alt="vikas image">
      <h2>Vikas Kumar</h2>
      <h3>Has Made Front-End Of This Webiste</h3>
      <p>
      |  Vikas is a skilled developer with experience in HTML, CSS,
      |  JavaScript,REST APIS and Java Data Structures and Algorithm. He also possess soft skills like writing
      |  poems and communication skills. These skills make him a unique candidate
      |  who can understand the user requirements and can express it in a better
      |  way. He has a keen interest in web development and his proficiency in
      |  java programming languages and strong communication skills make him a
      |  valuable asset to any development team.
      </p>
    </div>

    <h1 class="project">What this Project Does</h1>
    <p class="project-des">The chatbot will be designed to understand the issues faced by hostel inmates and provide appropriate solutions. It will be able to answer queries and provide information on various topics such as maintenance, repairs, and other related issues. It will also be able to guide the hostel inmates through the complaint registration process, providing them with the necessary forms and instructions.
       | The chatbot will be a valuable tool for hostel management as it will help in streamlining the complaint registration process. It will also help to reduce the workload of staff members who are responsible for handling complaints. The chatbot will be able to handle multiple complaints simultaneously, providing quick and efficient service to hostel inmates.
       |In conclusion, The chatbot will serve as a support system for hostel residents to help address and resolve their issues in a timely and efficient manner. It will also help to improve the overall experience of hostel life for students and staff members alike.
  </p>
    <!-- footer -->
    <footer>
      <a href="https://github.com/Vikas-18"><img class="gitlogo" src="../static/images/github.png" alt="github logo"/></a>
      <h5>Designed and Developed by The Innovation Ninjas</h5>
    </footer>
    <script src="../static/JS/main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 1000,
      })
    </script>
  </body>
</html>
