<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostel Chat Bot</title>
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/2643c4045b.js" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../static/CSS/chat.css">
</head>
<body>
    <div class="container-lg">
        <div id="top">
            <img src="../static/images/chatbot.png" alt="ChatBot" class="navbar-brand">
            <h1>Hostel Chat Bot</h1>
        </div>
        <h5 id="chat-timestamp"></h5>
        <div class="chat-container">
            <div id="chatbox">
                <p id="botStartMessage" class="botText"><span>Loading....</span></p>
            </div>
            <div class="chat-bar-input-block">
                <div id="userInput">
                    <input type="text" id="textInput" class="input-box" name="msg" placeholder="Tap 'Enter' to send a message"><p></p>
                </div>
                <div class="chat-bar-icons">
                    <i  id="chat-icon" class="hvr-grow fa-solid fa-paper-plane" style="color:white; font-size: 2rem;" ></i>
                </div>
            </div>
        </div>
        <div id="chat-bar-bottom">
            <p></p>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/JS/chat.js"></script>
    <script src="../static/JS/response.js"></script>
</body>

</html>