html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right, #faffd1, #0dff81);
  padding: 0% 22%;
  font-family: "Nunito", sans-serif;
}

.container-lg {
  border: 2px solid black;
  height: 100vh;
  padding: 0px;
  position: relative;
}

#top {
  background: linear-gradient(45deg, #f2ff5f, #74b4fe);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1%;
  padding-left: 2%;
}

h1 {
  color: black;
  margin-top: 20px;
  margin-left: 2%;
  font-size: 2.4rem;
}

.navbar-brand {
  width: 70px;
  height: 70px;
}

.chat-container {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 76%;
  /* border: 2px solid red; */
  width: 100%;
  margin-top: 5%;
  scroll-behavior: smooth;
  hyphens: auto;
  position: absolute;
}

.chat-bar-input-block {
  /* border: 2px solid blue; */
  background-color: var(--bs-secondary-color);
  position: fixed;
  width: 55.5%;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  padding: 10px 5px;
}

.chat-bar-icons {
  margin-left: 5px;
}

#chat-icon {
  opacity: 0.7;
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#userInput {
  width: 95%;
}

.input-box {
  float: left;
  border: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
  color: black;
  background-color: white;
  outline: none;
}

h5 {
  text-align: center;
  font-size: 1.3rem;
  background: rgba(255, 255, 255, 0.4);
  width: 100px;
  margin: auto;
  margin-top: 2%;
  padding: 1%;
  border-radius: 10px;
  color: black;
}

.userText {
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-align: right;
  clear: both;
}

.userText span {
  line-height: 1.5em;
  display: inline-block;
  background: var(--bs-secondary-color);
  padding: 10px;
  border-radius: 8px;
  border-bottom-right-radius: 2px;
  max-width: 80%;
  margin-right: 10px;
  animation: floatup 0.5s forwards;
}

.btn {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submitbtn {
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #373b44;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submitbtn:hover,
.submitbtn:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.submitbtn:active {
  background: var(--color);
  color: #fff;
}

.btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-btn 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-btn {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.botText {
  color: #000;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  margin-bottom: 70px;
}

#chatbox {
  margin-bottom: 20px;
}

.botText span {
  line-height: 1.5em;
  display: inline-block;
  background: #e0e0e0;
  padding: 10px;
  border-radius: 8px;
  border-bottom-left-radius: 2px;
  max-width: 80%;
  margin-left: 10px;
  animation: floatup 0.5s forwards;
}

@media (max-width: 850px) {
  body {
    padding: 0px;
  }

  h1 {
    font-size: 1.8rem;
  }

  .chat-bar-input-block {
    width: 100%;
  }
}
