body{
  background: #a3ff95;
  padding: 0% 1%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

#mytask{
  background-image: url('../images/searchicon.png');
  background-position: 11px 11px;
  background-repeat: no-repeat;
  width: 20%;
  display: block;
  font-size: 1.1rem;
  padding: 12px 20px 12px 40px;
  border: 2px solid black;
  margin: 10px auto;
  border-radius: 5px;
}

th, td{
    padding: 4px 7px;
    font-size: 1.2rem;
    text-align: center;
}

th{
   font-size: 1.3rem;
}

.container{
    overflow-x: auto;
   
}

.home{
    width: 250px;
    margin: auto;
}

.save-cb-state{
    width: 22px;
    height: 22px;
}

button{
    background-color: blue;
    color: white;
    border: none;
    width: 100px;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

@media (max-width:900px){
     
    #mytask{
       width: 175px;
    }

    body{
      padding: 0%;
    }
}

