body{
  background: #a3ff95;
  padding: 0% 1%;
}
input[type="checkbox" i]:disabled{
  background-color: #AF40FF;
}





table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

#mytask{
  background-position: 11px 11px;
  background-repeat: no-repeat;
  width: 20%;
  display: block;
  font-size: 1.1rem;
padding: 12px 20px 12px 40px;     
  border: 2px solid black;
  margin: 10px auto;
  border-radius: 5px;
}

th, td{
    padding: 4px 7px;
    font-size: 1.2rem;
    text-align: center;
}

th{
   font-size: 1.3rem;
}

.container{
    overflow-x: auto;
   
}

.home{
    width: 250px;
    margin: 5px auto 5px auto;
}

.save-cb-state{
    width: 22px;
    height: 22px;
}



.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  color: white;
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

@media (max-width:900px){
     
    #mytask{
       width: 175px;
    }

    body{
      padding: 0%;
    }
}

